.row {
    display: flex;
    align-items: center;
}

.cuadrado {
    width: 25vh;
    max-width: 100px;
    height: 25vh;
    max-height: 100px;
    position: relative;
    background: red;
}

hr.hr-text {
    position: relative;
    border: none;
    height: 1px;
    background: #999;
}

hr.hr-text::before {
    content: attr(data-content);
    display: inline-block;
    background: #fff;
    font-weight: bold;
    font-size: 0.85rem;
    color: #999;
    border-radius: 30rem;
    padding: 0.2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}